<!DOCTYPE html>
<html lang="sp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="theme-color" content="#000"/>
    <title>Clases de Wild West Mambo</title>
    <meta name="description", content="Academia de baile en Mayaguez Puerto Rico">
    <link rel="manifest" href="/manifest.json">
    <link rel="shortcut icon" type="image/x-icon" href="images\logo.ico"/>
    <link rel="stylesheet" href="/css/navbar/navbar-min_8in.css" media="(min-device-width: 8in)">
    <link rel="stylesheet" href="/css/navbar/navbar-max_8in.css" media="(max-device-width: 8in)">
    <link rel="stylesheet" href="/css/clases.css">
</head>
<body>
    <% include partials/navbar %>
    <header>
        <h1>Cursos de Wild West Mambo</h1>
        <!-- <h1>Cursos de 3 meses</h1>
        <h1>
            Lugar Academia Danzas y Bellas Artes en lo bajos antiguo casino de
            Mayagüez pueblo.
        </h1>
        <hr>
        <h1>Costo total curso 3 meses $120.00. Pagas $60.00 para empezar y $60.00 al mes y medio.</h1>
        <hr>
        <h1>Ofertas por persona (No incluye Entrenamientos solamente cursos)</h1>
        <h1>primer curso $120.00, segundo curso $90.00, terser curso $60.00</h1> -->
    </header>
    <section class="courses">
        <% for(var i = 0; i < clases.length; i++){ %>
            <div class="course">
                <p class="title"><%- clases[i].title %></p>
                <% if(clases[i].desc){ %>
                    <p class="desc"><%- clases[i].desc %></p>
                <% } %>
                <p class="info-blocks"><%- clases[i].starts %></p>
                <p class="info-blocks"><em><%- clases[i].time %></em></p>
                <p><strong><%- clases[i].mof %> <em><%= clases[i].instructor %></em></strong></p>
            </div>
        <% } %>
    </section>
    <section class="other_info">
        <!-- <h1>Actividades del curso</h1>
        <p>
            2 Bailes, 3 Sociales, Dia Familiar, Noche De Logros, Party de Hollowen, Cena Thanksgiving y Graduacion con certificados
            y premio de mejor coreografia de la noche.
        </p>
        <p>
            Somos Originales, Responsables y comprometidos en el aprendizaje de los estudiantes somos los ortopedas de la Salsa
        </p> -->
        <p>_________________________________________________________________</p>
    </section>
    <% include partials/footer %>
</body>
</html>